# requirements-py313.txt
pandas
numpy
scikit-learn
joblib
matplotlib
ipython

alembic
colorama
colorlog
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fonttools
greenlet
imbalanced-learn
ipykernel
jedi
jupyter-client
jupyter-core
kiwisolver
lightgbm
Mako
MarkupSafe
matplotlib-inline
nest-asyncio
openpyxl
optuna
packaging
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
PyYAML
pyzmq
scipy
six
SQLAlchemy
stack-data
threadpoolctl
tornado
tqdm
traitlets
typing-extensions
tzdata
wcwidth
xgboost